
<div class="container">
    <form>
        <div *ngIf="msg_finaliza_venda == 1" class="p-3 mb-2 bg-primary text-white">
            {{ final_info }}
            <button type="button" class="btn btn-success" (click)="comeca_nova_venda()">Abrir Nova Venda</button>
        </div>
        <div *ngIf="msg_finaliza_venda == 2" class="p-3 mb-2 bg-danger text-white">{{ final_info }}</div>

        <div class="row">
            <div class="form-group col-lg-4">
                <label for="vendedor">Selecione o Vendedor</label>
                <ng-select [items]="vendedores" 
                    bindLabel="nome" 
                    bindValue="id" 
                    name="vendedor"
                    [(ngModel)]="selectedVendedor">
                </ng-select>
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-lg-4">
                <label for="cliente">Selecione o Cliente</label>
                <ng-select [items]="clientes" 
                    bindLabel="nome"
                    bindValue="id" 
                    name="cliente"
                    [(ngModel)]="selectedCliente">
                </ng-select>
                
            <div *ngIf="form_erro_venda.cliente" class="text-danger">{{ form_erro_venda.cliente }}</div>
            </div>
        </div>


        <button (click)="criaVenda()" *ngIf="!modo_edicao" class="btn btn-primary">
            Iniciar Venda
        </button>
        <!-- <div *ngIf="venda_form_error">{{ venda_form_error }}</div> -->
            
            <!-- <button (click)="cancel()" >
                Cancelar
            </button> -->
    </form>
</div>

<div *ngIf="modo_edicao">
    <app-itens [id_venda]="venda.id"></app-itens>

    <div class="container" *ngIf="msg_finaliza_venda == 0 || msg_finaliza_venda == 2">
        <button (click)="finalizaVenda()" class="btn btn-success">
            Finalizar Venda
        </button>
        
        <button (click)="cancelaVenda()" class="btn btn-warning" 
         *ngIf="msg_finaliza_venda == 0 || msg_finaliza_venda == 2">
            Cancela Venda
        </button>
    </div>

</div>

